<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<!--begin::Head-->
<head>
  <base href="">
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ config.seo_title|default:'One' }}{% endblock title %}</title>
  <meta name="description"
        content="{% block description %}{{ config.seo_description|default:'One' }}{% endblock description %}"/>
  <meta name="keywords" content="{% block keywords %}{{ config.seo_keywords|default:'One' }}{% endblock keywords %}"/>
  <meta name="author" content="{% block author %}{{ config.seo_author|default:'One' }}{% endblock author %}">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="canonical" href="{% block canonical %}{{ config.seo_canonical|default:'One' }}{% endblock canonical %}"/>
  <link rel="shortcut icon" href="{% static 'jet/media/logos/favicon.ico' %}"/>

  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700"/>
  <!--end::Fonts-->

  {% block css %}
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="{% static 'jet/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'jet/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->

    {% block page-vendor-css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
    {% endblock page-vendor-css %}

    {% block page-custom-css %}
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'default/css/project.css' %}" rel="stylesheet">
    {% endblock page-custom-css %}

  {% endblock %}

  <!-- Le javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="{% static 'jet/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'jet/js/scripts.bundle.js' %}"></script>
    <!--end::Global Javascript Bundle-->

    {% block page-vendor-javascript %}
      <!--begin::Page Vendors Javascript(used by this page)-->
      <!--end::Page Vendors Javascript-->
    {% endblock page-vendor-javascript %}

    {% block page-custom-javascript %}
      <!--begin::Page Custom Javascript(used by this page)-->
      {#    <script defer src="{% static 'default/js/project.js' %}"></script>#}
      <!--end::Page Custom Javascript-->
    {% endblock page-custom-javascript %}

  {% endblock javascript %}
</head>
<!--end::Head-->
<!--begin::Body-->
<body
  class="header-fixed header-tablet-and-mobile-fixed aside-fixed {% if secondary_menu %}aside-secondary-enabled{% else %}aside-secondary-disabled{% endif %}"
  {% if secondary_menu %}data-kt-aside-minimize="on"{% endif %} id="kt_body">
<!--begin::Main-->

<!--begin::Root-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Aside-->
    <div id="kt_aside" class="aside aside-extended bg-white" data-kt-drawer="true" data-kt-drawer-name="aside"
         data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto"
         data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">

      {% block primary-navbar %}
        <!--begin::Primary-->
        <div class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto">
          <!--begin::Logo-->
          <div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto pt-10"
               id="kt_aside_logo">
            <a href="{% url 'home' %}">
              <img alt="Logo" src="{% static 'jet/media/logos/logo-compact.svg' %}" class="h-55px"/>
            </a>
          </div>
          <!--end::Logo-->
          <!--begin::Nav-->
          <div class="aside-nav d-flex flex-column flex-lg-center flex-column-fluid w-100 pt-5 pt-lg-0"
               id="kt_aside_nav">

          </div>
          <!--end::Nav-->
        </div>
        <!--end::Primary-->
      {% endblock primary-navbar %}

      <!--begin::Action-->
      {% block secondary-navbar %}
        {% if secondary_menu %}
          <!--begin::Secondary-->
          <div class="aside-secondary d-flex flex-row-fluid">
            <!--begin::Workspace-->
            <div class="aside-workspace overflow-auto my-2 my-lg-7 px-3 px-lg-7" id="kt_aside_wordspace">
              <!--begin::Secondary menu-->
              <div
                class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0"
                id="kt_aside_menu" data-kt-menu="true">
                <div id="kt_aside_menu_wrapper" class="menu-fit hover-scroll-y me-lg-n5 pe-lg-5" data-kt-scroll="true"
                     data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
                     data-kt-scroll-offset="20px" data-kt-scroll-wrappers="#kt_aside_wordspace">
                  <div class="menu-item">
                    <div class="menu-content">
                      <span class="menu-section fs-5 fw-bolder ps-1 py-1">General</span>
                    </div>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link" href="general/about.html">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
                      <span class="menu-title">About Us</span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link active" href="general/faq.html">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
                      <span class="menu-title">FAQ</span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link" href="#" data-kt-page="pro">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
                      <span class="menu-title">Wizard
											<span class="badge badge-pro badge-light-danger fw-bold fs-9 px-2 py-1 ms-1">Pro</span></span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link" href="#" data-kt-page="pro">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
                      <span class="menu-title">Invoice
											<span class="badge badge-pro badge-light-danger fw-bold fs-9 px-2 py-1 ms-1">Pro</span></span>
                    </a>
                  </div>
                  <div class="menu-item">
                    <a class="menu-link" href="#" data-kt-page="pro">
											<span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
											</span>
                      <span class="menu-title">Pricing
											<span class="badge badge-pro badge-light-danger fw-bold fs-9 px-2 py-1 ms-1">Pro</span></span>
                    </a>
                  </div>
                </div>
              </div>
              <!--end::Secondary menu-->
            </div>
            <!--end::Workspace-->
          </div>
          <!--end::Secondary-->

          <!--begin::Aside Toggle-->
          <button
            class="btn btn-sm btn-icon btn-white btn-active-primary position-absolute translate-middle mb-4 start-100 end-0 bottom-0 shadow-sm d-none d-lg-flex active"
            data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
            data-kt-toggle-name="aside-minimize">
            <!--begin::Svg Icon | path: icons/duotone/Navigation/Left-2.svg-->
            <span class="svg-icon svg-icon-2 rotate-180">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<polygon points="0 0 24 0 24 24 0 24"/>
									<rect fill="#000000" opacity="0.3"
                        transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)"
                        x="14" y="7" width="2" height="10" rx="1"/>
									<path
                    d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z"
                    fill="#000000" fill-rule="nonzero"
                    transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)"/>
								</g>
							</svg>
						</span>
            <!--end::Svg Icon-->
          </button>
          <!--end::Aside Toggle-->
          <!--end::Action-->
        {% endif %}
      {% endblock secondary-navbar %}
    </div>
    <!--end::Aside-->

    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Header-->
      {% include 'partials/header.html' %}
      <!--end::Header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Container-->
        <div class="container" id="kt_content_container">
          {% block content %}
          {% endblock content %}
        </div>
        <!--end::Container-->
      </div>
      <!--end::Content-->

      <!--begin::Footer-->
      {% include 'partials/footer.html' %}
      <!--end::Footer-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Root-->

<!--begin::Drawers-->
<!--begin::User-->
{% include 'partials/drawers/user.html' %}
<!--end::User-->

{% block drawers %}{% endblock drawers %}
<!--end::Drawers-->

<!--begin::Modals-->
{% block modal %}{% endblock modal %}
<!--end::Modals-->

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
  <!--begin::Svg Icon | path: icons/duotone/Navigation/Up-2.svg-->
  <span class="svg-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1"/>
        <path
          d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
          fill="#000000" fill-rule="nonzero"/>
      </g>
    </svg>
  </span>
  <!--end::Svg Icon-->
</div>
<!--end::Scrolltop-->
<!--end::Main-->

{% block inline_javascript %}
  {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
{% endblock inline_javascript %}
</body>
<!--end::Body-->
</html>
