<fieldset class="module aligned {{ fieldset.classes }}">
  {% for line in fieldset %}
    {% if line.fields|length_is:'1' %}
      <div class="form-row
                  {% if line.fields|length_is:'1' and line.errors %} errors{% endif %}
                  {% if not line.has_visible_field %} hidden{% endif %}
                  {% for field in line %}
                    {% if field.field.name %} field-{{ field.field.name }}{% endif %}
                  {% endfor %}">
        {% for field in line %}
          <div class="form-group row
                      {% if not line.fields|length_is:'1' %}
                        fieldBox
                        {% if field.field.name %} field-{{ field.field.name }}{% endif %}
                        {% if not field.is_readonly and field.errors %} errors{% endif %}
                        {% if field.field.is_hidden %} hidden{% endif %}
                      {% elif field.is_checkbox %}
                        checkbox-row
                      {% endif %}">
            <div class="col-2">
              {{ field.label_tag }}
            </div>
            <div class="col-8">
              {% if field.is_readonly %}
                <div class="readonly">{{ field.contents }}</div>
              {% else %}
                {{ field.field }}
              {% endif %}
              {% if field.field.help_text %}
                <small class="form-text text-muted">{{ field.field.help_text|safe }}</small>
              {% endif %}

              {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
              {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="row
                  {% if not line.has_visible_field %} hidden{% endif %}
                  {% for field in line %}
                    {% if field.field.name %} field-{{ field.field.name }}{% endif %}
                  {% endfor %}">
        {% for field in line %}
          <div class="col-6
                      {% if not line.fields|length_is:'1' %}
                        {% if field.field.name %} field-{{ field.field.name }}{% endif %}
                        {% if not field.is_readonly and field.errors %} errors{% endif %}
                        {% if field.field.is_hidden %} hidden{% endif %}
                      {% elif field.is_checkbox %}
                        checkbox-row
                      {% endif %}">
            <div class="form-group">

              {{ field.label_tag }}
              <div class="form-group">
                  {% if field.is_readonly %}
                    <div class="readonly">{{ field.contents }}</div>
                  {% else %}
                    {{ field.field }}
                  {% endif %}
                {% if field.field.help_text %}
                  <small class="form-text text-muted">{{ field.field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors and not field.is_readonly %}
                  {{ field.errors }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

  {% endfor %}
</fieldset>
