.action-hover {
  display: none !important;
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 2px;
  z-index: 1;
}

.nav-treeview {
  .nav-item {
    position: relative;

    &:hover {
      .action-hover {
        opacity: 1 !important;
        display: block !important;
      }
    }
  }
}
