<!--begin::User drawer-->
<div id="kt_user_drawer" class="explore bg-white" data-kt-drawer="true" data-kt-drawer-name="user_drawer"
     data-kt-drawer-activate="true" data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'350px', 'lg': '490px'}" data-kt-drawer-direction="end"
     data-kt-drawer-toggle="#kt_user_drawer_toggle" data-kt-drawer-close="#kt_user_drawer_close">
  <!--begin::Card-->
  <div class="card shadow-none w-100">
    <!--begin::Header-->
    <div class="card-header" id="kt_user_drawer_header">
      <h5 class="card-title fw-bold text-gray-600">
        <div class="d-flex">
          <div class="cursor-pointer symbol symbol-60px symbol-md-60px me-7" data-kt-menu-trigger="click"
               data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <img src="https://preview.keenthemes.com/jet-html-free/assets/media/avatars/300-1.jpg" alt="user">
          </div>
          <div>
            <div>
              <a href="{% url 'users:detail' user.username %}"
                 class="text-gray-900 text-hover-primary fs-3 fw-bolder me-1">{{ user.username }}</a>
            </div>
            <div>
              <a href="{% url 'users:detail' user.username %}"
                 class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                <span class="svg-icon svg-icon-4 me-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3"
                          d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z"
                          fill="currentColor"></path>
                    <path
                      d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <!--end::Svg Icon-->
                {{ user.email }}
              </a>
            </div>
            <div>
              <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                <span class="svg-icon svg-icon-4 me-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3"
                          d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                          fill="currentColor"></path>
                    <path
                      d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <!--end::Svg Icon-->
                Developer
              </a>
            </div>
          </div>
        </div>
      </h5>
      <div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-icon explore-btn-dismiss me-n5" id="kt_user_drawer_close">
          <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
          <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g
                transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                fill="#000000">
                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.5"
                      transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                      x="0" y="7" width="16" height="2" rx="1"/>
              </g>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body p-4" id="kt_user_drawer_body">
      <!--begin::Content-->
      <div id="kt_user_drawer_scroll" class="scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto"
           data-kt-scroll-wrappers="#kt_user_drawer_body"
           data-kt-scroll-dependencies="#kt_user_drawer_header, #kt_user_drawer_footer" data-kt-scroll-offset="5px">
        <!--begin::Licenses-->
        <div class="mb-5">
          <div class="card card-bordered mb-5 ">
            <div class="row card-body p-4">
              <div class="col-md-6">
                <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                  <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                  <span class="svg-icon svg-icon-4 me-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                              viewBox="0 0 24 24" fill="none">
                  <path opacity="0.3"
                        d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                        fill="currentColor"></path>
                  <path
                    d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                    fill="currentColor"></path>
                  </svg></span>
                  <!--end::Svg Icon-->
                  My Account
                </a>
              </div>
              <div class="col-md-6">
                <a href="{% url 'account_logout' %}" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                  <i class="bi bi-sliders me-1"></i> {% trans 'Sign Out' %}
                </a>
              </div>
            </div>
          </div>
          <div class="card card-bordered mb-5 ">
            <div class="card-header p-4">
              <h3 class="card-title">Fluid Image</h3>
              <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-primary border-primary">
                  Action
                </button>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
                <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                  <span class="fw-bold fs-6 text-gray-400">Profile Compleation</span>
                  <span class="fw-bolder fs-6">50%</span>
                </div>

                <div class="h-5px mx-3 w-100 bg-light mb-3">
                  <div class="bg-success rounded h-5px" role="progressbar" style="width: 50%;" aria-valuenow="50"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-bordered mb-5 ">
            <div class="card-body p-4">
              <div class="row">
                <!--begin::Col-->
                <div class="col">
                  <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                    <span class="fs-4 fw-bold text-info pb-1 px-2">Net Earnings</span>
                    <span class="fs-lg-2tx fw-bolder d-flex justify-content-center">
                        $<span data-kt-countup="true" data-kt-countup-value="63,240.00" class="counted">63,240</span>
                    </span>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col">
                  <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                    <span class="fs-4 fw-bold text-success pb-1 px-2">Balance</span>
                    <span class="fs-lg-2tx fw-bolder d-flex justify-content-center">
                        $<span data-kt-countup="true" data-kt-countup-value="8,530.00" class="counted">8,530</span>
                    </span>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col">
                  <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                    <span class="fs-4 fw-bold text-danger pb-1 px-2">Avg Deal Size</span>
                    <span class="fs-lg-2tx fw-bolder d-flex justify-content-center">
                        $<span data-kt-countup="true" data-kt-countup-value="2,600" class="counted">2,600</span>
                    </span>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col">
                  <div class="card card-dashed flex-center min-w-175px my-3 p-6">
                    <span class="fs-4 fw-bold text-primary pb-1 px-2">Referral Signups</span>
                    <span class="fs-lg-2tx fw-bolder d-flex justify-content-center">
                        $<span data-kt-countup="true" data-kt-countup-value="783&quot;" class="counted">783</span>
                    </span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
            </div>
            <div class="row card-body p-4">
              <div class="col-md-6">
                <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                  <i class="bi bi-sliders me-1"></i> QQ1
                </a>
              </div>
              <div class="col-md-6">
                <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                  <i class="bi bi-sliders me-1"></i> QQ2
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--end::Licenses-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <!--end::Footer-->
  </div>
  <!--end::Card-->
</div>
<!--end::User drawer-->
