<div class="form-group">
  <label for="id_{{ title|slugify }}">{% blocktranslate with filter_title=title %} By
    <code>{{ filter_title }}</code> {% endblocktranslate %}</label>
  <select class="custom-select form-control-border" id="id_{{ title|slugify }}">
    {% for choice in choices %}
      <option value="{{ choice.query_string|iriencode }}"
              {% if choice.selected %}selected{% endif %}>{{ choice.display }}</option>
    {% endfor %}
  </select>
</div>

<script>
  $("#id_{{ title|slugify }}").on("change", function (e){
    window.location.href = this.value;
  })
</script>
