{% spaceless %}
  {#  {% if selected %}{% endif %}#}
  {#  {% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %}#}
  {#  {% if item.url and item.enabled %}{% endif %}#}
  {#  {% if item.description %}title="{{ item.description }}"{% endif %}#}
  {#  {% if item.accesskey %} accesskey="{{ item.accesskey }}"{% endif %}#}
  {% if not item.is_empty %}
    <div class="module" style="margin-bottom: 10px;">
      <table>
        <caption class="section" style="background: var(--secondary); text-align: center;">{{ item.title|capfirst }}</caption>
      </table>
    </div>
    {% if item.children and item.enabled %}
      {% for child_item in item.children %}
        {% admin_tools_render_menu_item child_item item_template="libraries/menu/page.html" %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endspaceless %}
