{% extends "admin/base_site.html" %}

{% block extrastyle %}
  {{ block.super }}
{% endblock extrastyle %}
{% block breadcrumbs %}
  <li class="breadcrumb-item text-dark">{% translate 'Password change' %}</li>
{% endblock breadcrumbs %}
{% block wrapper %}
  <form class="position-relative" method="post">
    {% csrf_token %}
    <div class="card mb-5 mb-xl-10" id="content-main">
      <!--begin::Card header-->
      <div class="card-header collapsible cursor-pointer rotate"
           data-bs-toggle="collapse"
           data-bs-target="#content_body_collapsible">
        <!--begin::Card title-->
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-boldest fs-3 text-dark">{{ title }}</span>
          <span class="text-gray-400 mt-2 fw-bold fs-6">{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</span>
        </h3>
        <!--end::Card title-->
        <!--begin::Action-->
        <div class="card-toolbar rotate-180">
          <i class="fas fa-angle-down"></i>
        </div>
        <!--end::Action-->
      </div>
      <!--begin::Card header-->
      <!--begin::Card body-->
      <div class="card-body p-9" id="content_body_collapsible">
        {% if form.errors %}
          <!--begin::Notice-->
          <div class="notice d-flex bg-light-danger rounded border-danger border border-dashed p-6">
            <!--begin::Icon-->
            <!--begin::Svg Icon | path: icons/duotone/Code/Warning-1-circle.svg-->
            <span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24px"
                   height="24px"
                   viewBox="0 0 24 24"
                   version="1.1">
                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1"></rect>
                <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1"></rect>
              </svg>
            </span>
            <!--end::Svg Icon-->
            <!--end::Icon-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
              <!--begin::Content-->
              <div class="fw-bold">
                <h4 class="text-gray-800 fw-bolder">{% translate "Error" %}!</h4>
                <div class="fs-6 text-gray-600">
                  {% if form.errors.items|length == 1 %}
                    {% translate "Please correct the error below." %}
                  {% else %}
                    {% translate "Please correct the errors below." %}
                  {% endif %}
                </div>
              </div>
              <!--end::Content-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Notice-->
        {% endif %}
        <div class="rounded border p-10">
          <div class="mb-10">
            <label class="form-label required">{{ form.old_password.label }}</label>
            <input type="password"
                   name="old_password"
                   autocomplete="current-password"
                   autofocus
                   required
                   id="id_old_password"
                   class="form-control form-control-solid" />
            {{ form.old_password.errors }}
          </div>
          <div class="mb-10">
            <label class="form-label required">{{ form.new_password1.label }}</label>
            <input type="password"
                   name="new_password1"
                   autocomplete="new-password"
                   required
                   id="id_new_password1"
                   aria-autocomplete="list"
                   class="form-control form-control-solid" />
            {{ form.new_password1.errors }}
            {% if form.new_password1.help_text %}
              <div class="help form-text no-dot"
                   {% if form.new_password1.id_for_label %}id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>
                {{ form.new_password1.help_text|safe }}
              </div>
            {% endif %}
          </div>
          <div class="mb-10">
            <label class="form-label required">{{ form.new_password2.label }}</label>
            <input type="password"
                   name="new_password2"
                   autocomplete="new-password"
                   required
                   id="id_new_password2"
                   class="form-control form-control-solid" />
            {{ form.new_password2.errors }}
            {% if form.new_password2.help_text %}
              <div class="help"
                   {% if form.new_password2.id_for_label %}id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>
                {{ form.new_password2.help_text|safe }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <div class="fixed-bottom-page-wrapper">
      <button type="submit" class="btn btn-primary">{% translate 'Change my password' %}</button>
    </div>
  </form>
{% endblock wrapper %}
