<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
  <base href="">
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'jet/media/logos/favicon.ico' %}"/>

  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700"/>
  <!--end::Fonts-->

  <!--begin::Global Stylesheets Bundle(used by all pages)-->
  <link href="{% static 'jet/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'jet/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
  <!--end::Global Stylesheets Bundle-->

  <!--begin::Page Base Stylesheets(used by page)-->
  <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
  <!--end::Page Base Stylesheets-->

  <!--begin::Dark mode css-->
  {% block dark-mode-vars %}{% endblock %}
  <!--end::Dark mode css-->

  <!--begin::Page Stylesheets(used by page)-->
  {% block extrastyle %}{% endblock %}
  <!--end::Page Stylesheets-->

  <!--begin::RTL Stylesheets-->
  {% if LANGUAGE_BIDI %}
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="{% static 'jet/plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'jet/css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
  {% endif %}
  <!--end::RTL Stylesheets-->

  <!--begin::Javascript-->
  <!--begin::Global Javascript Bundle(used by all pages)-->
  <script src="{% static 'jet/plugins/global/plugins.bundle.js' %}"></script>
  <script src="{% static 'jet/js/scripts.bundle.js' %}"></script>
  <!--end::Global Javascript Bundle-->
  <!--begin::Sidebar-->
  {% if not is_popup and is_nav_sidebar_enabled %}
    <script src="{% static 'jet/js/custom/nav_sidebar.js' %}" defer></script>
  {% endif %}
  <!--end::Sidebar-->
  <!--begin::Page Custom Javascript(used by this page)-->
  {% block extrahead %}{% endblock %}
  <!--end::Page Custom Javascript-->
  <!--end::Javascript-->

  <!--begin::Responsive Stylesheets-->
  {% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--begin::RTL Responsive Stylesheets-->
    {% if LANGUAGE_BIDI %}{% endif %}
    <!--end::RTL Responsive Stylesheets-->
  {% endblock %}
  <!--end::Responsive Stylesheets-->

  <!--begin::Block bots-->
  {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE">
  {% endblock %}
  <!--end::Block bots-->
</head>

<!--begin::Body-->
<body
  class="{% if is_popup %}popup {% endif %}header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled
    {% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

<!--begin::Root-->
<div id="container" class="d-flex flex-column flex-root">

  <!--begin::Main-->

  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid" id="main">
    {% if not is_popup and is_nav_sidebar_enabled %}
      {% block nav-sidebar %}
        <!--begin::Aside-->
        <div id="kt_aside" class="aside aside-extended bg-white" data-kt-drawer="true" data-kt-drawer-name="aside"
             data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
             data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
          <!--begin::Primary-->
          <div class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto">
            <!--begin::Logo-->
            <div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto pt-10"
                 id="kt_aside_logo">
              <a href="{% url 'admin:index' %}">
                <img alt="Logo" src="{% static 'jet/media/logos/logo-compact.svg' %}" class="h-55px"/>
              </a>
            </div>
            <!--end::Logo-->

            <!--begin::Nav-->
            {% include "admin/nav_sidebar.html" %}
            <!--end::Nav-->

            <!--begin::Footer-->
            <div class="aside-footer d-flex flex-column align-items-center flex-column-auto" id="kt_aside_footer">
              <!--begin::Menu-->
              <div class="mb-7">
                <button type="button"
                        class="btn btm-sm btn-icon btn-color-gray-400 btn-active-color-primary btn-active-light"
                        data-kt-menu-trigger="click" data-kt-menu-overflow="true"
                        data-kt-menu-placement="top-start" data-kt-menu-flip="top-end" data-bs-toggle="tooltip"
                        data-bs-placement="right" data-bs-dismiss="click" title="Quick actions">
                  <!--begin::Svg Icon | path: icons/duotone/Communication/Dial-numbers.svg-->
                  <span class="svg-icon svg-icon-2 svg-icon-lg-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                         viewBox="0 0 24 24" version="1.1">
                      <rect fill="#000000" opacity="0.3" x="4" y="4" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="4" y="10" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="10" y="4" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="10" y="10" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="16" y="4" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="16" y="10" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="4" y="16" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="10" y="16" width="4" height="4" rx="2"/>
                      <rect fill="#000000" x="16" y="16" width="4" height="4" rx="2"/>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                </button>
                <!--begin::Menu 2-->
                <div
                  class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px"
                  data-kt-menu="true">
                  <!--begin::Menu item-->
                  <div class="menu-item px-3">
                    <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Quick Actions</div>
                  </div>
                  <!--end::Menu item-->
                  <!--begin::Menu separator-->
                  <div class="separator mb-3 opacity-75"></div>
                  <!--end::Menu separator-->
                  <!--begin::Menu item-->
                  <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3">New Ticket</a>
                  </div>
                  <!--end::Menu item-->
                  <!--begin::Menu item-->
                  <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3">New Customer</a>
                  </div>
                  <!--end::Menu item-->
                  <!--begin::Menu item-->
                  <div class="menu-item px-3" data-kt-menu-trigger="hover"
                       data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
                    <!--begin::Menu item-->
                    <a href="#" class="menu-link px-3">
                      <span class="menu-title">New Group</span>
                      <span class="menu-arrow"></span>
                    </a>
                    <!--end::Menu item-->
                    <!--begin::Menu sub-->
                    <div class="menu-sub menu-sub-dropdown w-175px py-4">
                      <!--begin::Menu item-->
                      <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3">Admin Group</a>
                      </div>
                      <!--end::Menu item-->
                      <!--begin::Menu item-->
                      <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3">Staff Group</a>
                      </div>
                      <!--end::Menu item-->
                      <!--begin::Menu item-->
                      <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3">Member Group</a>
                      </div>
                      <!--end::Menu item-->
                    </div>
                    <!--end::Menu sub-->
                  </div>
                  <!--end::Menu item-->
                  <!--begin::Menu item-->
                  <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3">New Contact</a>
                  </div>
                  <!--end::Menu item-->
                  <!--begin::Menu separator-->
                  <div class="separator mt-3 opacity-75"></div>
                  <!--end::Menu separator-->
                  <!--begin::Menu item-->
                  <div class="menu-item px-3">
                    <div class="menu-content px-3 py-3">
                      <a class="btn btn-primary btn-sm px-4" href="#">Generate Reports</a>
                    </div>
                  </div>
                  <!--end::Menu item-->
                </div>
                <!--end::Menu 2-->
              </div>
              <!--end::Menu-->
            </div>
            <!--end::Footer-->
          </div>
          <!--end::Primary-->
          <!--begin::Action-->
          <!--end::Action-->
        </div>
        <!--end::Aside-->
      {% endblock %}
    {% endif %}

    <!--begin::Wrapper-->
    <div class="{% if not is_popup and is_nav_sidebar_enabled %}wrapper{% endif %} d-flex flex-column flex-row-fluid"
         id="kt_wrapper">
      {% if not is_popup %}
        <!--begin::Header-->
        <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header"
             data-kt-sticky-offset="{default: '200px', lg: '300px'}">
          <!--begin::Container-->
          <div class="container-fluid d-flex align-items-stretch justify-content-between"
               id="kt_header_container">
            <!--begin::Page title-->
            <div
              class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-2 pb-lg-0"
              data-kt-swapper="true" data-kt-swapper-mode="prepend"
              data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">

              {% block header %}
                <!--begin::Heading-->
                <h1 class="text-dark fw-bolder my-1 fs-2">{% block branding %}{% endblock %}
                  <small class="text-muted fs-6 fw-normal ms-1"></small>
                </h1>
                <!--end::Heading-->
              {% endblock header %}

              {% block breadcrumbs %}
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb fw-bold fs-base my-1">
                  <li class="breadcrumb-item text-muted">
                    <a href="{% url 'admin:index' %}" class="text-muted">{% translate 'Home' %}</a>
                  </li>
                  {% if title %}
                    <li class="breadcrumb-item text-dark">{{ title }}</li>
                  {% endif %}
                </ul>
                <!--end::Breadcrumb-->
              {% endblock breadcrumbs %}
            </div>
            <!--end::Page title=-->

            <!--begin::Wrapper-->
            <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
              <!--begin::Aside mobile toggle-->
              <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
                <!--begin::Svg Icon | path: icons/duotone/Text/Menu.svg-->
                <span class="svg-icon svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                       viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"/>
                      <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5"/>
                      <path
                        d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z"
                        fill="#000000" opacity="0.3"/>
                    </g>
                  </svg>
                </span>
                <!--end::Svg Icon-->
              </div>
              <!--end::Aside mobile toggle-->
              <!--begin::Logo-->
              <a href="{% url 'admin:index' %}" class="d-flex align-items-center">
                <img alt="Logo" src="{% static 'jet/media/logos/logo-compact.svg' %}" class="max-h-40px"/>
              </a>
              <!--end::Logo-->
            </div>
            <!--end::Wrapper-->

            <!--begin::Toolbar wrapper-->
            <div class="d-flex align-items-stretch flex-shrink-0">
              {% block usertools %}
                {% if has_permission %}
                  <!--begin::User-->
                  <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                    <!--begin::Menu wrapper-->
                    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click"
                         data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
                         data-kt-menu-flip="bottom">
                      <img src="{% static 'jet/media/avatars/150-2.jpg' %}" alt="metronic"/>
                    </div>
                    {% block userlinks %}
                      <!--begin::Menu-->
                      <div
                        class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold py-4 fs-6 w-275px"
                        data-kt-menu="true">
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                          <div class="menu-content d-flex align-items-center px-3">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-50px me-5">
                              <img alt="Logo" src="{% static 'jet/media/avatars/150-2.jpg' %}"/>
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Username-->
                            <div class="d-flex flex-column">
                              <div class="fw-bolder d-flex align-items-center fs-5">
                                {% block welcome-msg %}
                                  {% firstof user.get_short_name user.get_username %}
                                {% endblock welcome-msg %}
                              </div>
                              <a href="#"
                                 class="fw-bold text-muted text-hover-primary fs-7">{{ request.user.email }}</a>
                            </div>
                            <!--end::Username-->
                          </div>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu separator-->
                        <div class="separator my-2"></div>
                        <!--end::Menu separator-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-5">
                          <a href="{% url 'admin:users_user_change' request.user.id %}"
                             class="menu-link px-5">{% trans 'Profile' %}</a>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        {% if user.has_usable_password %}
                          <div class="menu-item px-5">
                            <a href="{% url 'admin:password_change' %}"
                               class="menu-link px-5">{% translate 'Change password' %}</a>
                          </div>
                        {% endif %}
                        <!--end::Menu item-->
                        <!--begin::Menu separator-->
                        <div class="separator my-2"></div>
                        <!--end::Menu separator-->
                        <!--begin::Menu item-->
                        {% if user.is_active and user.is_staff %}
                          {% url 'django-admindocs-docroot' as docsroot %}
                          {% if docsroot %}
                            <div class="menu-item px-5 my-1">
                              <a href="{{ docsroot }}" class="menu-link px-5">{% translate 'Documentation' %}</a> /
                            </div>
                          {% endif %}
                        {% endif %}
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        {% if site_url %}
                          <div class="menu-item px-5 my-1">
                            <a href="{{ site_url }}" class="menu-link px-5">{% translate 'View site' %}</a>
                          </div>
                        {% endif %}
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-5">
                          <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                            {% csrf_token %}
                            <a href="#" onclick="$('#logout-form').trigger('submit')"
                               class="btn menu-link px-5">{% translate 'Log out' %}</a>
                          </form>
                        </div>
                        <!--end::Menu item-->
                      </div>
                      <!--end::Menu-->
                    {% endblock userlinks %}
                    <!--end::Menu wrapper-->
                  </div>
                  <!--end::User -->

                {% endif %}
              {% endblock usertools %}
              {% block nav-global %}{% endblock %}
            </div>
            <!--end::Toolbar wrapper-->

          </div>
          <!--end::Container-->
        </div>
        <!--end::Header-->
      {% endif %}

      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Container-->
        <div class="container" id="kt_content_container">

          <!--begin::Alert-->
          {% block messages %}
            {% if messages %}
              {% for message in messages %}
                <div
                  class="alert alert-dismissible {% if message.tags == 'error' %}bg-light-danger{% elif message.tags == 'warning' %}bg-light-warning{% else %}bg-light-success{% endif %} border {% if message.tags == 'error' %}border-danger{% elif message.tags == 'warning' %}border-warning{% else %}border-success{% endif %} border-dashed d-flex flex-column flex-sm-row p-5 mb-10">
                  <!--begin::Icon-->
                  <span
                    class="svg-icon svg-icon-2hx {% if message.tags == 'error' %}svg-icon-danger{% elif message.tags == 'warning' %}svg-icon-warning{% else %}svg-icon-success{% endif %} me-4 mb-5 mb-sm-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                         version="1.1">
                      <path
                        d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z"
                        fill="#000000" opacity="0.3"></path>
                      <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1"></rect>
                      <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1"></rect>
                    </svg>
                  </span>
                  <!--end::Icon-->

                  <!--begin::Wrapper-->
                  <div class="d-flex flex-column pe-0 pe-sm-10">
                    <!--begin::Title-->
                    <h5 class="mb-1">{{ message.tags|title }}</h5>
                    <!--end::Title-->
                    <!--begin::Content-->
                    <span>{{ message|capfirst }}</span>
                    <!--end::Content-->
                  </div>
                  <!--end::Wrapper-->

                  <!--begin::Close-->
                  <button type="button"
                          class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto"
                          data-bs-dismiss="alert">
                    <i
                      class="bi bi-x fs-1 {% if message.tags == 'error' %}text-danger{% elif message.tags == 'warning' %}text-warning{% else %}text-success{% endif %}"></i>
                  </button>
                  <!--end::Close-->
                </div>
                <!--end::Alert-->
              {% endfor %}
            {% endif %}
          {% endblock messages %}

          <!-- Content -->
          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
            {% block content %}
              {% block object-tools %}{% endblock %}
              {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear">
          </div>
          <!-- END Content -->

        </div>
        <!--end::Container-->
      </div>
      <!--end::Content-->

      {% block footer %}
        <!--begin::Footer-->
        <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
          <!--begin::Container-->
          <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
              <span class="text-gray-400 fw-bold me-1">{% trans 'Created by' %}</span>
              <a href="https://risotech.vn" target="_blank"
                 class="text-muted text-hover-primary fw-bold me-2 fs-6">RisoTech</a>
            </div>
            <!--end::Copyright-->
            <!--begin::Menu-->
            <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
              <li class="menu-item">
                <a href="{% url 'about' %}" target="_blank" class="menu-link px-2">{% trans 'About' %}</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'faq' %}" target="_blank" class="menu-link px-2">{% trans 'FAQ' %}</a>
              </li>
            </ul>
            <!--end::Menu-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Footer-->
      {% endblock footer %}

    </div>
    <!--end::Wrapper-->

  </div>
  <!--end::Page-->

  <!--begin::Scrolltop-->
  <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotone/Navigation/Up-2.svg-->
    <span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
             height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24"/>
						<rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1"/>
						<path
              d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
              fill="#000000" fill-rule="nonzero"/>
					</g>
				</svg>
			</span>
    <!--end::Svg Icon-->
  </div>
  <!--end::Scrolltop-->

  <!--end::Main-->

</div>
<!--end::Root-->
</body>
<!--end::Body-->
</html>
