{% extends "admin/base_site.html" %}

{% load admin_urls admin_modify %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock extrahead %}
{% block extrastyle %}
  {{ block.super }}
  {#  <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">#}
{% endblock extrastyle %}
{% block coltype %}
  colM
{% endblock coltype %}
{% block bodyclass %}
  {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form
{% endblock bodyclass %}
{% if not is_popup %}
  {% block breadcrumbs %}
    <li class="breadcrumb-item text-muted">
      <a href="{% url 'admin:app_list' app_label=opts.app_label %}"
         class="text-muted">{{ opts.app_config.verbose_name }}</a>
    </li>
    {% if has_view_permission %}
      <li class="breadcrumb-item text-muted">
        <a href="{% url opts|admin_urlname:'changelist' %}" class="text-muted">{{ opts.verbose_name_plural|capfirst }}</a>
      </li>
    {% else %}
      <li class="breadcrumb-item text-dark">{{ opts.verbose_name_plural|capfirst }}</li>
    {% endif %}
    <li class="breadcrumb-item text-dark">
      {% if add %}
        {% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}
      {% else %}
        {{ original|truncatewords:"18" }}
      {% endif %}
    </li>
  {% endblock breadcrumbs %}
{% endif %}
{% block wrapper %}
  <form {% if has_file_field %}enctype="multipart/form-data"{% endif %}
        {% if form_url %}action="{{ form_url }}"{% endif %}
        method="post"
        id="{{ opts.model_name }}_form"
        novalidate
        class="position-relative">
    {% csrf_token %}
    <div class="card mb-5 mb-xl-10" id="content-main">
      <!--begin::Card header-->
      <div class="card-header">
        <!--begin::Card title-->
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-boldest fs-3 text-dark">{{ title }}</span>
          <span class="text-gray-400 mt-2 fw-bold fs-6">{{ subtitle }}</span>
        </h3>
        <!--end::Card title-->
        <!--begin::Action-->
        <!--end::Action-->
      </div>
      <!--begin::Card header-->
      <!--begin::Card body-->
      <div class="card-body p-9" id="content_body_collapsible">
        {% block form_top %}
        {% endblock form_top %}
        <div>
          {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
          {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
          {% if save_on_top %}
            {% block submit_buttons_top %}
              {% submit_row %}
            {% endblock submit_buttons_top %}
          {% endif %}
          {% if errors %}
            <!--begin::Notice-->
            <div class="notice d-flex bg-light-danger rounded border-danger border border-dashed p-6">
              <!--begin::Icon-->
              <!--begin::Svg Icon | path: icons/duotone/Code/Warning-1-circle.svg-->
              <span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24px"
                     height="24px"
                     viewBox="0 0 24 24"
                     version="1.1">
                  <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                  <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1"></rect>
                  <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1"></rect>
                </svg>
              </span>
              <!--end::Svg Icon-->
              <!--end::Icon-->
              <!--begin::Wrapper-->
              <div class="d-flex flex-stack flex-grow-1">
                <!--begin::Content-->
                <div class="fw-bold">
                  <h4 class="text-gray-800 fw-bolder">{% translate "Error" %}!</h4>
                  <div class="fs-6 text-gray-600">
                    {% if errors|length == 1 %}
                      {% translate "Please correct the error below." %}
                    {% else %}
                      {% translate "Please correct the errors below." %}
                    {% endif %}
                    {{ adminform.form.non_field_errors }}
                  </div>
                </div>
                <!--end::Content-->
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Notice-->
          {% endif %}
          {% block field_sets %}
            {% for fieldset in adminform %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
          {% endblock field_sets %}
          {% block after_field_sets %}
          {% endblock after_field_sets %}
          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock inline_field_sets %}
          {% block after_related_objects %}
          {% endblock after_related_objects %}
          {% block admin_change_form_document_ready %}
            <script id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}" {% if adminform and add %}data-model-name="{{ opts.model_name }}"{% endif %} async>
            </script>
          {% endblock admin_change_form_document_ready %}
          {# JavaScript for prepopulated fields #}
          {% prepopulated_fields_js %}
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <div class="fixed-bottom-page-wrapper">
      <div class="row">
        <div class="col-6 text-start">
          {% block submit_buttons_bottom %}
            {% submit_row %}
          {% endblock submit_buttons_bottom %}
        </div>
        <div class="col-6 text-end">
          {% block object-tools %}
            {% if change %}
              {% if not is_popup %}
                {% block object-tools-items %}
                  {% change_form_object_tools %}
                {% endblock object-tools-items %}
              {% endif %}
            {% endif %}
          {% endblock object-tools %}
        </div>
      </div>
    </div>
  </form>
{% endblock wrapper %}
