{% extends "admin/base_site.html" %}
{% load admin_urls admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {
        width: inherit
      }
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  <script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <li class="breadcrumb-item text-muted">
      <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}"
         class="text-muted">{{ cl.opts.app_config.verbose_name }}
      </a>
    </li>
    <li class="breadcrumb-item text-dark">
      {{ cl.opts.verbose_name_plural|capfirst }}
    </li>
  {% endblock %}
{% endif %}

{% block coltype %}card mb-5 mb-xl-10{% endblock %}

{% block wrapper %}
  <!--begin::Header-->
  <div class="card-header">
    <!--begin::Heading-->
    <div class="card-title">
      <!--begin::Search-->
      {% block search %}{% search_form cl %}{% endblock %}
      <!--end::Search-->
    </div>
    <!--end::Heading-->
    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
        <!--begin::Filter-->
        {% block filters %}
          {% if cl.has_filters %}
            <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click"
                    data-kt-menu-placement="bottom-end">
              <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
              <span class="svg-icon svg-icon-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              <!--end::Svg Icon-->
              {% trans 'Filter' %}
            </button>
            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true" style="">
              <!--begin::Header-->
              <div class="px-7 py-5">
                <div class="fs-5 text-dark fw-bold">{% trans 'Filter Options' %}</div>
              </div>
              <!--end::Header-->

              <!--begin::Separator-->
              <div class="separator border-gray-200"></div>
              <!--end::Separator-->

              <!--begin::Content-->
              <div class="px-7 py-5" data-kt-user-table-filter="form">
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}

                <!--begin::Actions-->
                <div class="d-flex justify-content-end">
                  {% if cl.has_active_filters %}
                    <a href="{{ cl.clear_all_filters_qs }}" id="changelist-filter-clear"
                       class="btn btn-light btn-active-light-primary fw-semibold me-2 px-6">{% trans 'Reset' %}
                    </a>
                  {% endif %}
                  <a href="?" class="btn btn-primary fw-semibold px-6">{% trans 'Apply' %}
                  </a>
                </div>
                <!--end::Actions-->
              </div>
              <!--end::Content-->
            </div>
          {% endif %}
        {% endblock %}
        <!--end::Filter-->

        {% block object-tools %}
          {% block object-tools-items %}
            {% change_list_object_tools %}
          {% endblock %}
        {% endblock %}
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Toolbar-->
  </div>
  <!--end::Header-->

  {% block content %}
    {% if cl.formset and cl.formset.errors %}
      <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}
          {% translate "Please correct the error below." %}
        {% else %}
          {% translate "Please correct the errors below." %}
        {% endif %}
      </p>
      {{ cl.formset.non_form_errors }}
    {% endif %}

    <div id="content-main" class="card-body p-4">
      <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
        <div class="changelist-form-container">
          {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}
          <form id="changelist-form" method="post"
                {% if cl.formset and cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>
            {% csrf_token %}
            {% if cl.formset %}
              <div>{{ cl.formset.management_form }}</div>
            {% endif %}
            {% block result_list %}
              {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
              {% result_list cl %}
              {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            {% endblock %}
            {% block pagination %}{% pagination cl %}{% endblock %}
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock wrapper %}
