{% extends "account/base.html" %}

{% block wide-wrapper %}
  <div class="mb-10 text-center">
    <!--begin::Title-->
    <h1 class="text-dark mb-3">{% translate "Sign Out" %}</h1>
    <!--end::Title-->
  </div>

  <!--begin::Message-->
  <div class="fs-3 fw-bold text-muted mb-10">
    {% translate 'Are you sure you want to sign out?' %}
  </div>
  <!--end::Message-->

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <!--begin::Action-->
    <div class="text-center mb-10">
      <button type="submit" class="btn btn-lg btn-primary fw-bolder">
        {% trans 'Logout' %}
      </button>
    </div>
    <!--end::Action-->
  </form>
{% endblock wide-wrapper %}
