{% extends "account/base.html" %}

{% load account %}


{% block wide-wrapper %}
  <div class="mb-10 text-center">
    <!--begin::Title-->
    <h1 class="text-dark mb-3">{% translate "Password Reset" %}</h1>
    <!--end::Title-->
    <!--begin::Link-->
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <!--end::Link-->
    <!--begin::Link-->
    <div class="text-gray-400 fw-bold fs-4">Enter your email to reset your password.</div>
    <!--end::Link-->
  </div>


  <!--begin::Message-->
  <div class="fs-3 fw-bold text-muted mb-10">
    {% blocktranslate %}We have e-mailed you. Please contact us if you do not receive it within a few
    minutes.{% endblocktranslate %}
  </div>
  <!--end::Message-->

{% endblock wide-wrapper %}
