{% extends "account/base.html" %}

{% load account %}

{% block content %}
  <!--begin::Form-->
  <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
        method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <!--begin::Heading-->
    <div class="text-center mb-10">
      <!--begin::Title-->
      <h1 class="text-dark mb-3">{% translate "Forgot Password" %} ?</h1>
      <!--end::Title-->

      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <!--begin::Link-->
      <div class="text-gray-400 fw-bold fs-4">
        {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
      </div>
      <!--end::Link-->
    </div>
    <!--begin::Heading-->

    <!--begin::Input group-->
    <div class="fv-row mb-7 fv-plugins-icon-container{% if form.email.errors %} has-validation{% endif %}">
      <!--begin::Wrapper-->
      <div class="mb-1">
        <label class="form-label fw-bolder text-dark fs-6">{% trans 'Email' %}</label>
        <input
          class="form-control form-control-lg form-control-solid{% if form.email.errors %} is-invalid{% endif %}"
          type="email" placeholder="" name="email" autocomplete="off"
          value="{{ form.email.value|default_if_none:'' }}">
        {% if form.email.errors %}
          {% for error in form.email.errors %}
            <div class="fv-plugins-message-container invalid-feedback">
              <div data-field="email" data-validator="notEmpty">{{ error }}</div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Input group--->

    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
      <button type="submit" class="btn btn-lg btn-primary fw-bolder me-4">
        <span class="indicator-label">{% translate 'Reset My Password' %}</span>
        <span class="indicator-progress">{% trans 'Please wait' %}...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>

      <a href="{% url 'account_login' %}" class="btn btn-lg btn-light-primary fw-bolder">{% trans 'Cancel' %}</a>
    </div>
    <!--end::Actions-->

    <!--begin::Action-->
    <div class="text-center mb-10">
        <span class="fw-bold text-gray-700">
          {% blocktranslate %}Please contact us if you have any trouble resetting your
            password.{% endblocktranslate %}
        </span>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->

{% endblock content %}
