{% extends "account/base.html" %}


{% block wide-wrapper %}


  {% if token_fail %}
    <div class="mb-10 text-center">
      <!--begin::Title-->
      <h1 class="text-dark mb-3">
        {% translate "Bad Token" %}
      </h1>
      <!--end::Title-->
    </div>
    {% url 'account_reset_password' as passwd_reset_url %}
    <!--begin::Message-->
    <div class="fs-3 fw-bold text-muted mb-10 text-center">
      {% blocktranslate %}
        The password reset link was invalid, possibly because it has already been used.{% endblocktranslate %}<br>
      {% blocktranslate %}Please request a
        <a class="link-primary fw-bolder" href="{{ passwd_reset_url }}">new password reset</a>.
      {% endblocktranslate %}
    </div>
    <!--end::Message-->
  {% else %}
    {% if form %}
      <!--begin::Wrapper-->
      <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-10 mx-auto">
        <!--begin::Heading-->
        <div class="mb-10 text-center">
          <!--begin::Title-->
          <h1 class="text-dark mb-3">{% translate "Change Password" %}</h1>
          <!--end::Title-->
        </div>
        <!--end::Heading-->

        <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
              method="POST" action="">
          {% csrf_token %}
          <!--begin::Input group-->
          <div class="fv-row mb-7 fv-plugins-icon-container{% if form.password1.errors %} has-validation{% endif %}">
            <!--begin::Wrapper-->
            <div class="mb-1">
              <label class="form-label fw-bolder text-dark fs-6">{% trans 'Password' %}</label>
              <input
                class="form-control form-control-lg form-control-solid{% if form.password1.errors %} is-invalid{% endif %}"
                type="password" placeholder="" name="password1" autocomplete="off"
                value="{{ form.password1.value|default_if_none:'' }}">
              {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                  <div class="fv-plugins-message-container invalid-feedback">
                    <div data-field="password1" data-validator="notEmpty">{{ error }}</div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <!--end::Wrapper-->
            <!--begin::Hint-->
            <div class="text-muted">
              {% trans 'Use 8 or more characters with a mix of letters, numbers &amp; symbols.' %}
            </div>
            <!--end::Hint-->
          </div>
          <!--end::Input group--->

          <!--begin::Input group-->
          <div class="fv-row mb-7 fv-plugins-icon-container{% if form.password2.errors %} has-validation{% endif %}">
            <label class="form-label fw-bolder text-dark fs-6">{% trans 'Confirm Password' %}</label>
            <input
              class="form-control form-control-lg form-control-solid{% if form.password2.errors %} is-invalid{% endif %}"
              type="password" placeholder="" name="password2" autocomplete="off"
              value="{{ form.password2.value|default_if_none:'' }}">
            {% if form.password2.errors %}
              {% for error in form.password2.errors %}
                <div class="fv-plugins-message-container invalid-feedback">
                  <div data-field="password2" data-validator="notEmpty">{{ error }}</div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <!--end::Input group-->

          <!--begin::Actions-->
          <div class="text-center">
            <!--begin::Submit button-->
            <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">
              <span class="indicator-label">{% trans 'Change Password' %}</span>
              <span class="indicator-progress">{% trans 'Please wait' %}...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
            </button>
            <!--end::Submit button-->
          </div>
          <!--end::Actions-->
        </form>
      </div>
    {% else %}
      <!--begin::Message-->
      <div class="fs-3 fw-bold text-muted mb-10 text-center">
        {% translate 'Your password is now changed.' %}
      </div>
      <!--end::Message-->
      <p></p>
    {% endif %}
  {% endif %}

{% endblock wide-wrapper %}
