{% get_media_prefix as MEDIA_URL %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'admin:index' %}" class="brand-link">
    <img src="{{ MEDIA_URL }}{{ config.ADMIN_LOGO }}" alt="{{ site_header|default:_('Django administration') }}"
         class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">{{ site_header|default:_('Django administration') }}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" id="nav-sidebar">
    <!-- SidebarSearch Form -->
    <div class="form-inline mt-3 pb-3 mb-3 d-flex">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar"
               id="nav-filter"
               placeholder="{% translate 'Start typing to filter…' %}"
               aria-label="{% translate 'Filter navigation items' %}"
               type="search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=True %}
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
