{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_language_info_list for LANGUAGES as languages %}

{% for language in languages %}
  <li class="menu-item">
    <a href="#{{ language.code }}" onclick="set_language('{{ language.code }}')"
       class="{% if language.code == LANGUAGE_CODE %}{% else %}text-muted {% endif %}menu-link px-2"
       title="{{ language.name_local }}">{{ language.name_local }}</a>
  </li>
{% endfor %}

<form action="{% url 'set_language' %}" method="post" id="setlang">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}">
  <input type="hidden" name="language" id="language">
</form>

<script type="text/javascript">
  if (window.location.hash) {
    var hash = window.location.hash;
    document.getElementById('language').value = hash.replace('#', '');
    document.getElementById('setlang').submit()
  }

  function set_language(language) {
    $('input[name="language"]').val(language);
    $('form#setlang').submit();
  }
</script>
